.question-statement-answers-wrapper {
  width: 100%;

  .question-counter {
	display: flex;
	align-items: center;
	padding: 20px;

	.question-label {
	  font-weight: bold;
	  font-size: 30px;
	  flex-grow: 100;
	}

	.question-category {
	  color: darkgray;
	}
  }

  .question-statement {
	padding: 10px 20px;
	font-size: 26px;
	min-height: 100px;
  }

  .question-answers-wrapper {
	padding: 0 20px;

	.answer-single-option {
	  height: 50px;
	  font-size: 24px;
	  border-bottom: 1px solid gray;
	  display: flex;
	  align-items: center;
	  padding-left: 20px;

	  &:hover {
		box-shadow: 0 0 5px gray;
		font-weight: bold;
		cursor: pointer;
	  }

	  .single-option-label {
		flex-grow: 100;
	  }

	  .single-option-icon {
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	}

	.selected-option, .selected-option:hover {
	  box-shadow: 0 0 10px chocolate;
	}
  }
}