.quiz-single-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .question-statement-answers-wrapper {
    flex-grow: 100;
  }

  .quiz-controls-footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;

    .quiz-question-submit-quiz {
      flex-grow: 100;
      width: inherit;
    }

    .submit-button {
      display: flex;
      justify-content: flex-end;
    }

    .navigation-buttons {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}