.ludo-dice-wrapper {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ(-100px);
  transition: transform 1s;
  .dice-face {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 2.5em;
    transform: scale(2.5) perspective(500px) translateZ(250px);
  }
  .face-front {
    transform: translateZ(100px);
  }
  .face-back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .face-left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .face-right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face-top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .face-bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
}